.about-page {
    padding-top: 150px;
    margin-bottom: 320px;
}

.about-page__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
}

.about-page__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.about-page h1 {
    font-size: 96px;
    font-weight: 300;
    color: var(--night-green);
}

.about-page p {
    font-size: 20px;
    color: var(--night-green);
}

.about-page img {
    max-width: 540px;
}

.delivery-page {
    padding-top: 150px;
    margin-bottom: 320px;
}

.delivery-page__block {
    margin-bottom: 80px;
    color: var(--night-green);
}

.delivery-page__block h1 {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 200;
}

.delivery-page__block p {
    font-size: 20px;
}

.contact-page {
    padding-top: 150px;
    margin-bottom: 400px;
}

.contact-page__info-blocks {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 80px;
}

.contact-page__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-page__block a,
.contact-page__block p {
    color: var(--main-green);
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.contact-page__block h2 {
    font-size: 48px;
    font-weight: 200;
}

.contact-page__block button {
    margin: 0;
}

.contact-page__block input {
    transition: transform 0.3s ease;
}

.contact-page__block input:focus {
    transform: scale(1.02);
}

.contact-page__social {
    display: flex;
    gap: 32px;
    margin-top: 20px;
}

.contact-page__social .icon {
    fill: var(--night-green);
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.contact-page__social .icon:hover {
    transform: scale(1.06);
}
