.catalog {
    padding-top: 200px;
    padding-bottom: 100px;
}

@media (max-width: var(--media-sm)) {
    .catalog {
        padding-top: 200px;
    }
}

.catalog__filter {
    height: 700px;
    margin-top: 30px;
}

.catalog__filter .price {
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
    color: var(--night-green);
    padding: 40px 0;
    border-bottom: 1px solid var(--main-gray);
    user-select: none;
}

.catalog__filter .price p {
    display: flex;
    align-items: center;
    margin: 0;
}

.catalog__filter .price span {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--night-green);
    margin-right: 10px;
}

.catalog__filter .accordion-item {
    border: none;
    background: none;
}

.catalog__filter .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
    padding: 40px 0;
    color: var(--night-green);
    border-bottom: 1px solid var(--main-gray);
    user-select: none;
}

.catalog__filter .accordion-header p {
    display: flex;
    align-items: center;
    margin: 0;
}

.catalog__filter .accordion-header span {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--night-green);
    margin-right: 10px;
}

.catalog__filter .accordion-header .icon {
    stroke: var(--night-green);
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.catalog__filter .accordion-item.active .icon-circle-arrow {
    transform: rotate(180deg);
}

.catalog__filter .accordion-content {
    display: none;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: max-height 0.4s ease;
}

.catalog__filter .accordion-content .form-check-input {
    border-color: var(--main-green);
    box-shadow: none;
}

.catalog__filter .accordion-content .form-check-input:checked {
    background: none;
    border: var(--main-green) 3px solid;
    outline: none;
}

.catalog__filter .accordion-item.active .accordion-content {
    display: block;
    max-height: 150px;
    overflow: auto;
    transition: display 0.4s ease;
}

#desktop-filter {
    @media (max-width: var(--media-sm)) {
        display: none;
    }
}

#mobile-filter {
    display: none;
}

.filter-mobile-btn {
    @media (min-width: var(--media-sm)) {
        display: none;
    }
    font-size: 16px;
}

.filter-mobile-btn .icon {
    stroke: var(--night-green);
    width: 16px;
    height: 16px;
}

.catalog__product-card {
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.catalog__product-card img {
    width: 100%;
}

.catalog__product-card:hover {
    transform: scale(1.05);
}

.catalog__product-card:hover button {
    visibility: visible;
    opacity: 1;
}

.catalog__product-card .icon {
    stroke: var(--night-green);
    width: 20px;
    height: 20px;
}

.catalog__product-name {
    font-family: 'montserrat', serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

@media (max-width: var(--media-sm)) {
    .catalog__product-name {
        width: 100%;
    }
}

.catalog__product-price {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    max-width: 100px;
}

.catalog__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    white-space: nowrap;
}

@media (max-width: var(--media-sm)) {
    .catalog__info {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}

.catalog__info p {
    color: var(--night-green);
}

.catalog__buy-btn {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: var(--main-white);
    color: var(--night-green);
    font-size: 20px;
    gap: 12px;
    opacity: 0;
    padding: 15px;
    transition: opacity 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.catalog__buy-btn:active {
    background-color: var(--dark-green);
    color: var(--main-white);
}

.catalog__favorite {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: var(--media-md)) {
    .catalog__favorite {
        top: 20px;
        right: 20px;
    }
}

@media (max-width: var(--media-sm)) {
    .catalog__favorite {
        top: 6px;
        right: 11px;
    }
}

.catalog__favorite .icon {
    stroke: var(--text-gray);
}

.catalog__favorite:hover .icon {
    stroke: var(--main-green);
}

.catalog__paginate {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 120px;
}

.four-product {
    @media (max-width: var(--media-md)) {
        display: none;
    }
}

.two-product {
    @media (min-width: var(--media-md)) {
        display: none;
    }
}

.is-favorite .icon {
    fill: var(--main-green);
    stroke: none;
}

.is-favorite:hover .icon {
    stroke: var(--main-white);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    position: fixed;
    display: none;
    color: var(--light-green);
    width: 100px;
    height: 100px;
    z-index: 5;
    border-width: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite; /* Добавьте анимацию */
}

.overflow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 200%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5)
}
