.custom-pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 32px;
}

.custom-pagination__page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: var(--main-green);
    cursor: pointer;
}

.custom-pagination__page-item.active {
    background: var(--main-green);
    color: var(--main-white);
}

.custom-pagination__page-link {
    margin: 0;
    font-size: 24px;
}
