// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-white: #FAFAFA;
$main-green: #415D4C;
$main-gray: #DEDEDE;
$main-danger: #AA0F0F;
$dark-green: #648371;
$light-green: #E5E9E1;
$night-green: #19221D;
$text-gray: #8A8B8A;
$disabled: #D0D1D0;
$text-green: #98A88F;
$edit-btn: #0D4E42;
$border-tabs: #BEC8B5;
