// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-white: #FAFAFA;
$dark-green: #648371;
$light-green: #E5E9E1;
$night-green: #19221D;
$main-green: #415D4C;
$main-gray: #DEDEDE;
