.about-page {
    padding-top: 200px;
    margin-bottom: 320px;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        @media (max-width: $media-sm) {

            &:last-child {
                flex-direction: column-reverse;
            }
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 30px;

        @media (max-width: $media-md) {
            gap: 10px;
        }
    }

    h1 {
        font-size: 96px;
        font-weight: 300;
        color: $main-choco;

        @media (max-width: $media-md) {
            font-size: 32px;
        }
    }

    p {
        font-size: 20px;
        color: $main-choco;

        @media (max-width: $media-md) {
            font-size: 14px;
        }
    }

    img {
        width: 100%;
    }
}

.delivery-page {
    padding-top: 200px;
    margin-bottom: 320px;

    &__block {
        margin-bottom: 80px;
        color: $main-choco;

        h1 {
            margin-bottom: 30px;
            font-size: 48px;
            font-weight: 200;
        }

        p {
            font-size: 20px;
        }
    }
}

.contact-page {
    padding-top: 200px;
    margin-bottom: 400px;
    @media (max-width: $media-md) {
        margin-bottom: 0;
    }

    &__info-blocks {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 80px;
        @media (max-width: $media-md) {
            gap: 50px;
        }

        @media (max-width: $media-sm) {
            gap: 80px;
        }
    }

    &__phones {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: $media-md) {
            gap: 10px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        &:first-child {
            @media (max-width: $media-md) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            @media (max-width: $media-sm) {
                flex-direction: column;
                align-items: start;
            }
        }

        a, p {
            color: $main-choco;
            font-size: 24px;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-size: 48px;
            font-weight: 200;
        }

        button {
            margin: 0;
        }

        input {
            transition: transform 0.3s ease;

            &:focus {
                transform: scale(1.02);
            }
        }
    }

    &__social {
        display: flex;
        gap: 32px;
        margin-top: 20px;
        @media (max-width: $media-md) {
            flex-direction: column;
            align-items: end;
        }
        @media (max-width: $media-sm) {
            flex-direction: row;
            align-items: start;
        }

        .icon {
            fill: $main-choco;
            width: 40px;
            height: 40px;
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.06);
            }
        }
    }
}
