.cart {
    &__items {
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: #BEC8B5 1px solid;
        padding: 40px 0;
        @media (max-width: $media-md) {
            padding: 20px 0;
        }
        @media (max-width: $media-sm) {
            padding: 20px 0;
            align-items: start;
        }
    }

    &__product {
        img {
            max-width: 130px;
            @media (max-width: $media-md) {
                max-width: 90px;
            }

            @media (max-width: $media-sm) {
                max-width: 60px;
                align-self: start;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

    }

    &__product-info {
        width: 100%;
        h4 {
            max-width: 290px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @media (max-width: $media-md) {
                font-size: 20px;
                white-space: normal;
            }

            @media (max-width: $media-sm) {
                font-size: 15px;
                white-space: normal;
            }
        }

        p {
            @media (max-width: $media-md) {
                font-size: 12px;
            }
            @media (max-width: $media-md) {
                font-size: 10px;
            }
        }
    }

    &__count {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: $media-sm) {
            flex-direction: column;
            align-items: end;
            gap: 10px;
        }

        .quantity-input {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px $main-choco solid;
            font-size: 36px;

            @media (max-width: $media-md) {
                padding: 5px 20px;
                font-size: 24px;
            }

            @media (max-width: $media-sm) {
                padding: 0;
                font-size: 24px;
            }
        }

        .quantity-field {
            width: 50px;
            font-weight: 400;
            text-align: center;
            border: none;
            margin: 0;
            outline: none;
            background: none;
        }

        .quantity-field::-webkit-inner-spin-button,
        .quantity-field::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .plus-btn,
        .minus-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border: none;
            cursor: pointer;
            font-weight: 200;
            font-size: 48px;
            @media (max-width: $media-md) {
                width: 32px;
                height: 32px;
            }

            .icon-plus {
                stroke: $night-green;
                width: 44px;
                height: 44px;

                @media (max-width: $media-md) {
                    width: 24px;
                    height: 24px;
                }
            }



            .icon-minus {
                stroke: $night-green;
                width: 44px;
                height: 44px;

                @media (max-width: $media-md) {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .plus-btn.disabled,
        .minus-btn.disabled {
            .icon-plus {
                stroke: $disabled;
            }

            .icon-minus {
                stroke: $disabled;
            }
        }

        .plus-btn:hover,
        .minus-btn:hover {
            color: $main-choco;
        }
    }

    &__sum {
        font-size: 48px;
        font-weight: 100;
        color: $main-choco;
        @media (max-width: $media-md) {
            font-size: 24px;
        }
    }

    &__item-delete {
        @media (max-width: $media-sm) {
            display: none;
        }
        .icon {
            fill: $night-green;
            &:hover {
                fill: $red;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        width: 100%;

        .total-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 20px;
                font-weight: 100;
                color: $main-choco;
                margin: 0;


                @media (max-width: $media-sm) {
                    font-size: 14px;
                }
            }

            span {
                font-size: 36px;
                font-weight: bold;
                color: $night-green;

                @media (max-width: $media-sm) {
                    font-size: 24px;
                }
            }
        }
    }

    &__btn-submit {
        text-align: center;
        background-color: $main-choco;
        color: $main-white;
        border: $main-choco 1px solid;
        margin-top: 32px;
        padding: 25px;
        font-size: 20px;
        transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;

        &:hover {
            background-color: $main-white;
            color: $main-choco;
            transform: scale(1.03);
        }
    }

    &__btn-back {
        text-align: center;
        background-color: $main-white;
        color: $main-choco;
        border: $main-choco 1px solid;
        margin-top: 32px;
        padding: 25px;
        font-size: 20px;
        transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;

        &:hover {
            background-color: $main-choco;
            color: $main-white;
            transform: scale(1.03);
        }
    }

    &__is-empty {
        padding-top: 100px;
        color: $night-green;
    }
}
