.cart {
    &__items {
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: #BEC8B5 1px solid;
        padding: 40px 0;

    }

    &__product {
        img {
            max-width: 130px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &__product-info {
        width: 100%;
        h4 {
            max-width: 290px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        gap: 30px;

        .quantity-input {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px $main-green solid;
            width: 255px;
            height: 70px;
            font-size: 36px;

        }

        .quantity-field {
            width: 50px;
            font-weight: 400;
            text-align: center;
            border: none;
            margin: 0;
            outline: none;
            background: none;
        }

        .quantity-field::-webkit-inner-spin-button,
        .quantity-field::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .plus-btn,
        .minus-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border: none;
            cursor: pointer;
            font-weight: 200;
            font-size: 48px;

            .icon-plus {
                stroke: $night-green;
                width: 44px;
                height: 44px;
            }



            .icon-minus {
                stroke: $night-green;
                width: 44px;
                height: 44px;
            }
        }

        .plus-btn.disabled,
        .minus-btn.disabled {
            .icon-plus {
                stroke: $disabled;
            }

            .icon-minus {
                stroke: $disabled;
            }
        }

        .plus-btn:hover,
        .minus-btn:hover {
            color: $main-green;
        }
    }

    &__sum {
        font-size: 48px;
        font-weight: 100;
        color: $main-green;
    }

    &__item-delete {
        .icon {
            fill: $night-green;
            &:hover {
                fill: $red;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        width: 100%;

        .total-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 540px;

            p {
               font-size: 20px;
               font-weight: 100;
               color: $main-green;
            }

            span {
                font-size: 40px;
                font-weight: bold;
                color: $night-green;
            }
        }
    }

    &__btn-submit {
        width: 540px;
        background-color: $main-green;
        color: $main-white;
        border: $main-green 1px solid;
        margin-top: 32px;
        padding: 25px;
        font-size: 20px;
        transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;

        &:hover {
            background-color: $main-white;
            color: $main-green;
            transform: scale(1.03);
        }
    }

    &__btn-back {
        width: 540px;
        background-color: $main-white;
        color: $main-green;
        border: $main-green 1px solid;
        margin-top: 32px;
        padding: 25px;
        font-size: 20px;
        transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;

        &:hover {
            background-color: $main-green;
            color: $main-white;
            transform: scale(1.03);
        }
    }

    &__is-empty {
        padding-top: 100px;
        color: $night-green;
    }
}
