.footer {
    background-color: $main-choco;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
    }
    &__logo {
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        .logo {
            width: 140px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        color: $main-white;

        h3 {
            font-size: 32px;
            font-weight: 200;
            &:last-child {
                margin-bottom: 10px;
            }
        }

        ul {
            padding-left: 1rem;

            li {
                font-size: 20px;
                font-weight: lighter;
                padding: 3px;
                @media (max-width: $media-md) {
                    padding: 3px;
                }

                &::marker {
                    font-size: 16px;
                }

                & a:hover {
                    color: $light-green;
                }
            }
        }

        p {
            font-size: 20px;
            font-weight: lighter;
        }
    }

    &__about, &__catalog {
        @media (max-width: $media-md) {
            margin-bottom: 30px;
        }
    }

    &__contacts {
        ul {
            padding-left: 1rem;
            li {
                padding-left: 0;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        padding-top: 24px;
        padding-bottom: 20px;
        @media (max-width: $media-md) {
            padding-top: 100px;
        }

        .icon {
            width: 40px;
            height: 40px;
            fill: $main-white;
        }
    }
}
