.custom-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 2;
    padding: 40px 0;
    gap: 40px;
    color: $main-white;

    &__desktop {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;

        .desktop-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .items.mobile {
            display: flex;
            align-self: end;
            gap: 40px;

            .icon {
                stroke: $main-white;
                width: 12px;
                height: 12px;
            }
        }
        @media (max-width: $media-sm) {
            display: none;
        }

        @media (max-width: $media-md) {
            flex-direction: column;
        }
    }

    &__mobile {
        display: none;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 40px;

        @media (max-width: $media-sm) {
            display: flex;
        }
    }

    &__burger-toggle {
        list-style-type: none;

        li {
            margin-bottom: 20px;
        }

        .burger-toggle-btn {
            display: inline-block;
            background: none;
            border: none;
            cursor: pointer;
            transform: rotate(180deg);
        }

        .burger-toggle-btn span {
            display: block;
            width: 24px;
            height: 1px;
            background-color: $main-gray;
            margin: 10px 0;
            border-radius: 3px;
        }

        /* Нижняя полоска короче */
        .burger-toggle-btn span:first-child {
            width: 18px;
            margin-top: 0;
        }

        .icon {
            stroke: $main-white;
            width: 24px;
            height: 24px;
        }

    }

    &__hidden-content {
        width: 100%;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        top: 0;
        left: 0;
        background: #415D4C;
        padding: 50px;
        height: 120vh;
        z-index: 4;

        .burger-content-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        ul {
            list-style-type: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 16px;

            .custom-header__dropdown-menu,
            .custom-header__dropdown-menu--lang {
                display: none;
            }

            .custom-header__dropdown-toggle {
                .icon {
                    stroke: $main-white;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    @media (max-width: $media-md) {
        width: 100%;
        padding: 0 20px;
    }
    @media (max-width: $media-sm) {
        width: 100%;
    }

    &__logo {
        width: 60px;

        .icon {
            fill: $main-white;
            width: 60px;
            height: 80px;
        }
    }

    &__pages {
        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 40px;

            @media (max-width: $media-lg) {
                gap: 30px;
            }
        }
    }

    &__icons-menu {
        .items {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 40px;

            @media (max-width: $media-lg) {
                gap: 30px;
            }

            .icon {
                width: 24px;
                height: 24px;
                stroke: $main-white;
                transition: fill 0.2s ease;
                &:hover {
                    stroke: $main-green;
                }
            }
            .custom-header__dropdown-toggle {
                .icon {
                    width: 12px;
                    height: 12px;
                }
            }
        }
        .items.mobile {
            align-items: center;
            justify-content: end;
        }
    }

    &__dropdown {
        position: relative;
    }

    &__dropdown-menu {
        display: none;
        position: absolute;
        top: 30px;
        z-index: 1;
        padding: 5px;
        width: 200px;
        text-align: center;
        background-color: $main-white;
        color: $night-green;
        list-style: none;
        font-size: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        @media (max-width: $media-md) {
            right: 0;
        }
        @media (min-width: $media-md) {
            left: 0;
        }

        &--lang {
            display: none;
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 1;
            padding: 0;
            width: 60px;
            text-align: center;
            background-color: $main-white;
            color: $night-green;
            list-style: none;
            font-size: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            @media (max-width: $media-md) {
                right: 0;
            }
        }

        input {
            width: 100%;
            border: $dark-green solid 1px;
            outline: none;
            position: relative;
            padding-left: 25px;
        }

        .icon {
            position: absolute;
            z-index: 2;
            left: 10px; /* Отступ слева */
            top: 12px;
            width: 16px;
            height: 16px;
            stroke: $dark-green;
        }

        li {
            padding: 8px;
        }
    }

    &__dropdown-item {
        cursor: pointer;
        a {
            color: $dark-green;
        }
        &:hover {
            background-color: $dark-green;
            a {
                color: $main-white;
            }
        }
    }

    &__dropdown.open &__dropdown-menu {
        display: block;
    }

    &__dropdown.open &__dropdown-menu--lang {
        display: block;
    }
}

.white-theme {

    .custom-input {
        .icon {
            width: 16px;
            height: 16px;
        }
    }
    .custom-header__logo {
        .icon {
            fill: $night-green;
        }
    }
    .custom-header__dropdown-toggle {
        color: $night-green;

        .icon {
            stroke: $night-green;
            width: 13px;
            height: 12px;
        }
    }

    .custom-header__burger-toggle {
        @media (max-width: $media-sm) {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-direction: row-reverse;
        }
        .icon {
            stroke: $main-green;
        }
    }

    .burger-toggle-btn {
        span {
            background: $main-green;
        }
    }

    .custom-header__pages a {
        color: $night-green;
    }

    .items {
        .icon {
            stroke: $night-green;
            transition: stroke 0.2s ease;
            &:hover {
                stroke: $main-green;
            }
        }
    }

    .items.mobile {
        .icon {
            stroke: $main-green;
            width: 12px;
            height: 12px;
        }
    }
}

.cart-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &__btn-back {
        display: flex;
        align-items: center;
        color: $dark-green;

        .icon {
            stroke: $dark-green;
        }
    }

    &__logo {
        .icon {
            width: 60px;
            height: 85px;
            fill: $night-green;
        }
    }

    &__contacts {
        user-select: none;
        .number {
            color: $main-green;
            margin: 0;
        }

        .worktime {
            color: $text-gray;
            margin: 0;
        }
    }
}
