.profile {
    padding-top: 200px;
    &__wrapper {
        padding: 30px 0 400px 0;
    }

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 64px;
        border-bottom: $border-tabs 1px solid;
        font-size: 20px;
        color: $text-green;
        text-transform: uppercase;
        max-width: 80%;

        @media (max-width: $media-md) {
            max-width: 100%;
            font-size: 15px;
        }

        @media (max-width: $media-sm) {
            gap: 10px;
            font-size: 11px;
        }

        .tab {
            position: relative;
            top: 1px;
            padding-bottom: 16px;
            cursor: pointer;
            width: 100%;
            text-align: center;

            &:hover {
                color: $main-choco;
            }
        }

        .tab.active {
            border-bottom: $dark-choco 1px solid;
        }
    }

    &__current-tab {
        display: none;
        flex-direction: column;
        padding: 32px 0;

        .change-data {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .change-password {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        button {
            align-self: flex-end;

            @media (max-width: $media-md) {
                align-self: start;
            }
        }
    }

    &__inner {
        display: flex;
        gap: 30px;
    }

    &__order-inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 16px;
    }

    &__order {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border: $dark-choco 1px solid;
        padding: 32px;

        @media (max-width: $media-sm) {
            padding: 16px;
        }

        p {
            color: $text-gray;

            @media (max-width: $media-sm) {
                font-size: 10px;
            }
        }

        h5 {
            @media (max-width: $media-sm) {
                font-size: 11px;
            }
        }
    }

    &__balance {
        font-size: 64px;
        color: $main-choco;
    }

    &__current-tab.active {
        display: flex;
    }

    .icon-logout {
        stroke: $main-white;
        width: 20px;
    }

}
